# Будут игнорироваться файлы в подкаталоге tmp
tmp/

#Будут игнорироваться файлы, заканчивающиеся суффиксом _old
*_old

#Будут игнорироваться файлы, заканчивающиеся суффиксом _backup
*_backup

#Будут игнорироваться файлы Thumbs.db
Thumbs.db

#Будут игнорироваться файлы 
.DS_Store
